.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eb9d02;
    padding: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
    padding-top: 10px;
    height: 50px;
    width: 165px;
}

.elements {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.element {
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;

}

.element:hover {
    background-color: #000;
    color: #fff;
}

.element > a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}

.element > a:hover {
    color: #fff
}